
<header class="navbar navbar-expand-md navbar-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img class="brand-logo d-inline me-2" src="/assets/images/LG-mark.png" alt="Landgate">
      <img class="brand-landgate d-inline" src="/assets/images/landgate.png" alt="Landgate">
    </a>
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/people']" [routerLinkActive]="'active'">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/about']"  [routerLinkActive]="'active'" tabindex="-1" aria-disabled="true">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/blog']"  [routerLinkActive]="'active'" tabindex="-1" aria-disabled="true">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/contact']"  [routerLinkActive]="'active'" tabindex="-1" aria-disabled="true">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
