
.btn:hover {
  border-color: transparent
}

.btn-link {
  font-weight: 400
}

.btn-link:focus {
  box-shadow: none
}

.btn-check:focus+.btn,.btn:focus {
  box-shadow: none
}

.btn-check:active+.btn,.btn-check:checked+.btn,.btn.active,.btn.show,.btn:active {
  border-color: transparent
}

.btn.disabled,.btn:disabled,fieldset:disabled .btn {
  border-color: transparent
}

.btn.dropdown-toggle {
  display: inline-flex;
  align-items: center
}

.btn-transition {
  transition: all .2s ease-in-out
}

.btn-transition:focus,.btn-transition:hover {
  transform: translateY(-.1875rem)
}

.btn-check:focus+.btn-primary,.btn-primary:focus,.btn-primary:hover {
  box-shadow: 0 4px 11px rgba(55,125,255,.35)
}

.btn-check:focus+.btn-secondary,.btn-secondary:focus,.btn-secondary:hover {
  box-shadow: 0 4px 11px rgba(113,134,157,.35)
}

.btn-check:focus+.btn-success,.btn-success:focus,.btn-success:hover {
  box-shadow: 0 4px 11px rgba(0,201,167,.35)
}

.btn-check:focus+.btn-info,.btn-info:focus,.btn-info:hover {
  box-shadow: 0 4px 11px rgba(9,165,190,.35)
}

.btn-check:focus+.btn-warning,.btn-warning:focus,.btn-warning:hover {
  box-shadow: 0 4px 11px rgba(245,202,153,.35)
}

.btn-check:focus+.btn-danger,.btn-danger:focus,.btn-danger:hover {
  box-shadow: 0 4px 11px rgba(237,76,120,.35)
}

.btn-check:focus+.btn-light,.btn-light:focus,.btn-light:hover {
  box-shadow: 0 4px 11px rgba(247,250,255,.35)
}

.btn-check:focus+.btn-dark,.btn-dark:focus,.btn-dark:hover {
  box-shadow: 0 4px 11px rgba(33,50,91,.35)
}

.btn-toggle .btn-toggle-default {
  display: inline-block
}

.btn-toggle .btn-toggle-toggled {
  display: none
}

.btn-toggle.toggled .btn-toggle-default {
  display: none
}

.btn-toggle.toggled .btn-toggle-toggled {
  display: inline-block
}

.btn-white {
  background-color: #fff;
  border: .0625rem solid rgba(33,50,91,.1)
}

.btn-white.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2371869d' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-white,.btn-white:focus,.btn-white:hover {
  color: #1366ff;
  border-color: rgba(33,50,91,.1);
  background-color: #fff;
  box-shadow: 0 3px 6px -2px rgba(140,152,164,.25)
}

.btn-check:focus+.btn-white.dropdown-toggle::after,.btn-white:focus.dropdown-toggle::after,.btn-white:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23377dff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-white.disabled,.btn-white:disabled {
  color: #bdc5d1;
  background-color: rgba(231,234,243,.5)
}

.btn-primary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-secondary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-success.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-info.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-warning.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-danger.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-light.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-dark.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-ghost-primary {
  color: #377dff;
  background-color: transparent
}

.btn-check:active+.btn-ghost-primary,.btn-check:checked+.btn-ghost-primary,.btn-check:focus+.btn-ghost-primary,.btn-ghost-primary.active,.btn-ghost-primary:active,.btn-ghost-primary:focus,.btn-ghost-primary:hover,.show>.btn-ghost-primary.dropdown-toggle {
  color: #377dff;
  border-color: transparent;
  background-color: rgba(55,125,255,.1)
}

.btn-ghost-primary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23377dff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-ghost-primary.btn-no-focus,.btn-ghost-primary.btn-no-focus.focus,.btn-ghost-primary.btn-no-focus:focus,.btn-ghost-primary.btn-no-focus:hover {
  color: #377dff;
  background-color: unset;
  box-shadow: none
}

.btn-check:focus+.btn-ghost-primary.btn-no-focus:hover,.btn-ghost-primary.btn-no-focus.focus:hover,.btn-ghost-primary.btn-no-focus:focus:hover,.btn-ghost-primary.btn-no-focus:hover:hover {
  color: #377dff;
  background-color: rgba(55,125,255,.1);
  transform: translateY(-.1875rem)
}

.btn-check:focus+.btn-ghost-primary.btn-no-focus.btn-transition,.btn-ghost-primary.btn-no-focus.btn-transition.focus,.btn-ghost-primary.btn-no-focus.btn-transition:focus,.btn-ghost-primary.btn-no-focus.btn-transition:hover {
  transform: translateY(0)
}

.btn-check:focus+.btn-ghost-primary.btn-no-focus.btn-transition:hover,.btn-ghost-primary.btn-no-focus.btn-transition.focus:hover,.btn-ghost-primary.btn-no-focus.btn-transition:focus:hover,.btn-ghost-primary.btn-no-focus.btn-transition:hover:hover {
  transform: translateY(-.1875rem)
}

.btn-ghost-secondary {
  color: #71869d;
  background-color: transparent
}

.btn-check:active+.btn-ghost-secondary,.btn-check:checked+.btn-ghost-secondary,.btn-check:focus+.btn-ghost-secondary,.btn-ghost-secondary.active,.btn-ghost-secondary:active,.btn-ghost-secondary:focus,.btn-ghost-secondary:hover,.show>.btn-ghost-secondary.dropdown-toggle {
  color: #71869d;
  border-color: transparent;
  background-color: rgba(55,125,255,.1)
}

.btn-ghost-secondary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2371869d' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-ghost-secondary.btn-no-focus,.btn-ghost-secondary.btn-no-focus.focus,.btn-ghost-secondary.btn-no-focus:focus,.btn-ghost-secondary.btn-no-focus:hover {
  color: #71869d;
  background-color: unset;
  box-shadow: none
}

.btn-check:focus+.btn-ghost-secondary.btn-no-focus:hover,.btn-ghost-secondary.btn-no-focus.focus:hover,.btn-ghost-secondary.btn-no-focus:focus:hover,.btn-ghost-secondary.btn-no-focus:hover:hover {
  color: #71869d;
  background-color: rgba(113,134,157,.1);
  transform: translateY(-.1875rem)
}

.btn-check:focus+.btn-ghost-secondary.btn-no-focus.btn-transition,.btn-ghost-secondary.btn-no-focus.btn-transition.focus,.btn-ghost-secondary.btn-no-focus.btn-transition:focus,.btn-ghost-secondary.btn-no-focus.btn-transition:hover {
  transform: translateY(0)
}

.btn-check:focus+.btn-ghost-secondary.btn-no-focus.btn-transition:hover,.btn-ghost-secondary.btn-no-focus.btn-transition.focus:hover,.btn-ghost-secondary.btn-no-focus.btn-transition:focus:hover,.btn-ghost-secondary.btn-no-focus.btn-transition:hover:hover {
  transform: translateY(-.1875rem)
}

.btn-ghost-success {
  color: #00c9a7;
  background-color: transparent
}

.btn-check:active+.btn-ghost-success,.btn-check:checked+.btn-ghost-success,.btn-check:focus+.btn-ghost-success,.btn-ghost-success.active,.btn-ghost-success:active,.btn-ghost-success:focus,.btn-ghost-success:hover,.show>.btn-ghost-success.dropdown-toggle {
  color: #00c9a7;
  border-color: transparent;
  background-color: rgba(0,201,167,.1)
}

.btn-ghost-success.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2300c9a7' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-ghost-success.btn-no-focus,.btn-ghost-success.btn-no-focus.focus,.btn-ghost-success.btn-no-focus:focus,.btn-ghost-success.btn-no-focus:hover {
  color: #00c9a7;
  background-color: unset;
  box-shadow: none
}

.btn-check:focus+.btn-ghost-success.btn-no-focus:hover,.btn-ghost-success.btn-no-focus.focus:hover,.btn-ghost-success.btn-no-focus:focus:hover,.btn-ghost-success.btn-no-focus:hover:hover {
  color: #00c9a7;
  background-color: rgba(0,201,167,.1);
  transform: translateY(-.1875rem)
}

.btn-check:focus+.btn-ghost-success.btn-no-focus.btn-transition,.btn-ghost-success.btn-no-focus.btn-transition.focus,.btn-ghost-success.btn-no-focus.btn-transition:focus,.btn-ghost-success.btn-no-focus.btn-transition:hover {
  transform: translateY(0)
}

.btn-check:focus+.btn-ghost-success.btn-no-focus.btn-transition:hover,.btn-ghost-success.btn-no-focus.btn-transition.focus:hover,.btn-ghost-success.btn-no-focus.btn-transition:focus:hover,.btn-ghost-success.btn-no-focus.btn-transition:hover:hover {
  transform: translateY(-.1875rem)
}

.btn-ghost-info {
  color: #09a5be;
  background-color: transparent
}

.btn-check:active+.btn-ghost-info,.btn-check:checked+.btn-ghost-info,.btn-check:focus+.btn-ghost-info,.btn-ghost-info.active,.btn-ghost-info:active,.btn-ghost-info:focus,.btn-ghost-info:hover,.show>.btn-ghost-info.dropdown-toggle {
  color: #09a5be;
  border-color: transparent;
  background-color: rgba(9,165,190,.1)
}

.btn-ghost-info.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2309a5be' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-ghost-info.btn-no-focus,.btn-ghost-info.btn-no-focus.focus,.btn-ghost-info.btn-no-focus:focus,.btn-ghost-info.btn-no-focus:hover {
  color: #09a5be;
  background-color: unset;
  box-shadow: none
}

.btn-check:focus+.btn-ghost-info.btn-no-focus:hover,.btn-ghost-info.btn-no-focus.focus:hover,.btn-ghost-info.btn-no-focus:focus:hover,.btn-ghost-info.btn-no-focus:hover:hover {
  color: #09a5be;
  background-color: rgba(9,165,190,.1);
  transform: translateY(-.1875rem)
}

.btn-check:focus+.btn-ghost-info.btn-no-focus.btn-transition,.btn-ghost-info.btn-no-focus.btn-transition.focus,.btn-ghost-info.btn-no-focus.btn-transition:focus,.btn-ghost-info.btn-no-focus.btn-transition:hover {
  transform: translateY(0)
}

.btn-check:focus+.btn-ghost-info.btn-no-focus.btn-transition:hover,.btn-ghost-info.btn-no-focus.btn-transition.focus:hover,.btn-ghost-info.btn-no-focus.btn-transition:focus:hover,.btn-ghost-info.btn-no-focus.btn-transition:hover:hover {
  transform: translateY(-.1875rem)
}

.btn-ghost-warning {
  color: #f5ca99;
  background-color: transparent
}

.btn-check:active+.btn-ghost-warning,.btn-check:checked+.btn-ghost-warning,.btn-check:focus+.btn-ghost-warning,.btn-ghost-warning.active,.btn-ghost-warning:active,.btn-ghost-warning:focus,.btn-ghost-warning:hover,.show>.btn-ghost-warning.dropdown-toggle {
  color: #f5ca99;
  border-color: transparent;
  background-color: rgba(245,202,153,.1)
}

.btn-ghost-warning.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23f5ca99' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-ghost-warning.btn-no-focus,.btn-ghost-warning.btn-no-focus.focus,.btn-ghost-warning.btn-no-focus:focus,.btn-ghost-warning.btn-no-focus:hover {
  color: #f5ca99;
  background-color: unset;
  box-shadow: none
}

.btn-check:focus+.btn-ghost-warning.btn-no-focus:hover,.btn-ghost-warning.btn-no-focus.focus:hover,.btn-ghost-warning.btn-no-focus:focus:hover,.btn-ghost-warning.btn-no-focus:hover:hover {
  color: #f5ca99;
  background-color: rgba(245,202,153,.1);
  transform: translateY(-.1875rem)
}

.btn-check:focus+.btn-ghost-warning.btn-no-focus.btn-transition,.btn-ghost-warning.btn-no-focus.btn-transition.focus,.btn-ghost-warning.btn-no-focus.btn-transition:focus,.btn-ghost-warning.btn-no-focus.btn-transition:hover {
  transform: translateY(0)
}

.btn-check:focus+.btn-ghost-warning.btn-no-focus.btn-transition:hover,.btn-ghost-warning.btn-no-focus.btn-transition.focus:hover,.btn-ghost-warning.btn-no-focus.btn-transition:focus:hover,.btn-ghost-warning.btn-no-focus.btn-transition:hover:hover {
  transform: translateY(-.1875rem)
}

.btn-ghost-danger {
  color: #ed4c78;
  background-color: transparent
}

.btn-check:active+.btn-ghost-danger,.btn-check:checked+.btn-ghost-danger,.btn-check:focus+.btn-ghost-danger,.btn-ghost-danger.active,.btn-ghost-danger:active,.btn-ghost-danger:focus,.btn-ghost-danger:hover,.show>.btn-ghost-danger.dropdown-toggle {
  color: #ed4c78;
  border-color: transparent;
  background-color: rgba(237,76,120,.1)
}

.btn-ghost-danger.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23ed4c78' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-ghost-danger.btn-no-focus,.btn-ghost-danger.btn-no-focus.focus,.btn-ghost-danger.btn-no-focus:focus,.btn-ghost-danger.btn-no-focus:hover {
  color: #ed4c78;
  background-color: unset;
  box-shadow: none
}

.btn-check:focus+.btn-ghost-danger.btn-no-focus:hover,.btn-ghost-danger.btn-no-focus.focus:hover,.btn-ghost-danger.btn-no-focus:focus:hover,.btn-ghost-danger.btn-no-focus:hover:hover {
  color: #ed4c78;
  background-color: rgba(237,76,120,.1);
  transform: translateY(-.1875rem)
}

.btn-check:focus+.btn-ghost-danger.btn-no-focus.btn-transition,.btn-ghost-danger.btn-no-focus.btn-transition.focus,.btn-ghost-danger.btn-no-focus.btn-transition:focus,.btn-ghost-danger.btn-no-focus.btn-transition:hover {
  transform: translateY(0)
}

.btn-check:focus+.btn-ghost-danger.btn-no-focus.btn-transition:hover,.btn-ghost-danger.btn-no-focus.btn-transition.focus:hover,.btn-ghost-danger.btn-no-focus.btn-transition:focus:hover,.btn-ghost-danger.btn-no-focus.btn-transition:hover:hover {
  transform: translateY(-.1875rem)
}

.btn-ghost-light {
  color: #f7faff;
  background-color: transparent
}

.btn-check:active+.btn-ghost-light,.btn-check:checked+.btn-ghost-light,.btn-check:focus+.btn-ghost-light,.btn-ghost-light.active,.btn-ghost-light:active,.btn-ghost-light:focus,.btn-ghost-light:hover,.show>.btn-ghost-light.dropdown-toggle {
  color: #f7faff;
  border-color: transparent;
  background-color: rgba(247,250,255,.1)
}

.btn-ghost-light.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23f7faff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-ghost-light.btn-no-focus,.btn-ghost-light.btn-no-focus.focus,.btn-ghost-light.btn-no-focus:focus,.btn-ghost-light.btn-no-focus:hover {
  color: #f7faff;
  background-color: unset;
  box-shadow: none
}

.btn-check:focus+.btn-ghost-light.btn-no-focus:hover,.btn-ghost-light.btn-no-focus.focus:hover,.btn-ghost-light.btn-no-focus:focus:hover,.btn-ghost-light.btn-no-focus:hover:hover {
  color: #f7faff;
  background-color: rgba(247,250,255,.1);
  transform: translateY(-.1875rem)
}

.btn-check:focus+.btn-ghost-light.btn-no-focus.btn-transition,.btn-ghost-light.btn-no-focus.btn-transition.focus,.btn-ghost-light.btn-no-focus.btn-transition:focus,.btn-ghost-light.btn-no-focus.btn-transition:hover {
  transform: translateY(0)
}

.btn-check:focus+.btn-ghost-light.btn-no-focus.btn-transition:hover,.btn-ghost-light.btn-no-focus.btn-transition.focus:hover,.btn-ghost-light.btn-no-focus.btn-transition:focus:hover,.btn-ghost-light.btn-no-focus.btn-transition:hover:hover {
  transform: translateY(-.1875rem)
}

.btn-ghost-dark {
  color: #21325b;
  background-color: transparent
}

.btn-check:active+.btn-ghost-dark,.btn-check:checked+.btn-ghost-dark,.btn-check:focus+.btn-ghost-dark,.btn-ghost-dark.active,.btn-ghost-dark:active,.btn-ghost-dark:focus,.btn-ghost-dark:hover,.show>.btn-ghost-dark.dropdown-toggle {
  color: #21325b;
  border-color: transparent;
  background-color: rgba(33,50,91,.1)
}

.btn-ghost-dark.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2321325b' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-ghost-dark.btn-no-focus,.btn-ghost-dark.btn-no-focus.focus,.btn-ghost-dark.btn-no-focus:focus,.btn-ghost-dark.btn-no-focus:hover {
  color: #21325b;
  background-color: unset;
  box-shadow: none
}

.btn-check:focus+.btn-ghost-dark.btn-no-focus:hover,.btn-ghost-dark.btn-no-focus.focus:hover,.btn-ghost-dark.btn-no-focus:focus:hover,.btn-ghost-dark.btn-no-focus:hover:hover {
  color: #21325b;
  background-color: rgba(33,50,91,.1);
  transform: translateY(-.1875rem)
}

.btn-check:focus+.btn-ghost-dark.btn-no-focus.btn-transition,.btn-ghost-dark.btn-no-focus.btn-transition.focus,.btn-ghost-dark.btn-no-focus.btn-transition:focus,.btn-ghost-dark.btn-no-focus.btn-transition:hover {
  transform: translateY(0)
}

.btn-check:focus+.btn-ghost-dark.btn-no-focus.btn-transition:hover,.btn-ghost-dark.btn-no-focus.btn-transition.focus:hover,.btn-ghost-dark.btn-no-focus.btn-transition:focus:hover,.btn-ghost-dark.btn-no-focus.btn-transition:hover:hover {
  transform: translateY(-.1875rem)
}

.btn-check:focus+.btn-ghost-secondary,.btn-ghost-secondary:focus,.btn-ghost-secondary:hover {
  color: #377dff
}

.btn-check:focus+.btn-ghost-secondary.dropdown-toggle::after,.btn-ghost-secondary:focus.dropdown-toggle::after,.btn-ghost-secondary:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23377dff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-check:focus+.btn-ghost-secondary.btn-no-focus:hover,.btn-ghost-secondary.btn-no-focus.focus:hover,.btn-ghost-secondary.btn-no-focus:focus:hover,.btn-ghost-secondary.btn-no-focus:hover:hover {
  color: #377dff;
  background-color: rgba(55,125,255,.1)
}

.btn-check:focus+.btn-ghost-secondary.btn-no-focus.btn-transition,.btn-ghost-secondary.btn-no-focus.btn-transition.focus,.btn-ghost-secondary.btn-no-focus.btn-transition:focus,.btn-ghost-secondary.btn-no-focus.btn-transition:hover {
  transform: translateY(0)
}

.btn-check:focus+.btn-ghost-secondary.btn-no-focus.btn-transition:hover,.btn-ghost-secondary.btn-no-focus.btn-transition.focus:hover,.btn-ghost-secondary.btn-no-focus.btn-transition:focus:hover,.btn-ghost-secondary.btn-no-focus.btn-transition:hover:hover {
  transform: translateY(-.1875rem)
}

.btn-group-segment {
  position: relative;
  display: inline-flex;
  justify-content: center;
  background-color: #f8fafd;
  border-radius: .5rem;
  padding: .25rem .25rem
}

.btn-group-segment .btn {
  color: #677788
}

.btn-group-segment .btn:not(:last-child) {
  margin-right: .25rem
}

.btn-group-segment .btn:hover {
  color: #1366ff
}

.btn-group-segment>.btn-group:not(:first-child)>.btn,.btn-group-segment>.btn-group:not(:last-child)>.btn,.btn-group-segment>.btn:not(:last-child):not(.dropdown-toggle),.btn-group-segment>.btn:nth-child(n+3),.btn-group-segment>:not(.btn-check)+.btn {
  border-radius: .5rem
}

.btn-group-segment>.btn-check:checked+.btn,.btn-group-segment>.btn-check:focus+.btn {
  color: #1e2022;
  background-color: #fff;
  box-shadow: 0 .1875rem .375rem rgba(140,152,164,.25)
}

.btn-group-segment.btn-group-pills {
  border-radius: 50rem
}

.btn-group-segment.btn-group-pills>.btn-group:not(:first-child)>.btn,.btn-group-segment.btn-group-pills>.btn-group:not(:last-child)>.btn,.btn-group-segment.btn-group-pills>.btn:not(:first-child),.btn-group-segment.btn-group-pills>.btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 50rem
}

.btn-soft-primary {
  color: #377dff;
  background-color: rgba(55,125,255,.1);
  border-color: transparent
}

.btn-check:focus+.btn-soft-primary,.btn-soft-primary:focus,.btn-soft-primary:hover {
  color: #fff;
  background-color: #377dff;
  border-color: transparent
}

.btn-check:active+.btn-soft-primary,.btn-check:checked+.btn-soft-primary,.btn-soft-primary.active,.btn-soft-primary:active,.show>.btn-soft-primary.dropdown-toggle {
  color: #fff;
  background-color: #377dff;
  border-color: transparent
}

.btn-soft-primary.disabled,.btn-soft-primary:disabled {
  color: #377dff;
  background-color: #377dff;
  border-color: transparent
}

.btn-soft-secondary {
  color: #71869d;
  background-color: rgba(113,134,157,.1);
  border-color: transparent
}

.btn-check:focus+.btn-soft-secondary,.btn-soft-secondary:focus,.btn-soft-secondary:hover {
  color: #fff;
  background-color: #71869d;
  border-color: transparent
}

.btn-check:active+.btn-soft-secondary,.btn-check:checked+.btn-soft-secondary,.btn-soft-secondary.active,.btn-soft-secondary:active,.show>.btn-soft-secondary.dropdown-toggle {
  color: #fff;
  background-color: #71869d;
  border-color: transparent
}

.btn-soft-secondary.disabled,.btn-soft-secondary:disabled {
  color: #71869d;
  background-color: #71869d;
  border-color: transparent
}

.btn-soft-success {
  color: #00c9a7;
  background-color: rgba(0,201,167,.1);
  border-color: transparent
}

.btn-check:focus+.btn-soft-success,.btn-soft-success:focus,.btn-soft-success:hover {
  color: #fff;
  background-color: #00c9a7;
  border-color: transparent
}

.btn-check:active+.btn-soft-success,.btn-check:checked+.btn-soft-success,.btn-soft-success.active,.btn-soft-success:active,.show>.btn-soft-success.dropdown-toggle {
  color: #fff;
  background-color: #00c9a7;
  border-color: transparent
}

.btn-soft-success.disabled,.btn-soft-success:disabled {
  color: #00c9a7;
  background-color: #00c9a7;
  border-color: transparent
}

.btn-soft-info {
  color: #09a5be;
  background-color: rgba(9,165,190,.1);
  border-color: transparent
}

.btn-check:focus+.btn-soft-info,.btn-soft-info:focus,.btn-soft-info:hover {
  color: #fff;
  background-color: #09a5be;
  border-color: transparent
}

.btn-check:active+.btn-soft-info,.btn-check:checked+.btn-soft-info,.btn-soft-info.active,.btn-soft-info:active,.show>.btn-soft-info.dropdown-toggle {
  color: #fff;
  background-color: #09a5be;
  border-color: transparent
}

.btn-soft-info.disabled,.btn-soft-info:disabled {
  color: #09a5be;
  background-color: #09a5be;
  border-color: transparent
}

.btn-soft-warning {
  color: #f5ca99;
  background-color: rgba(245,202,153,.1);
  border-color: transparent
}

.btn-check:focus+.btn-soft-warning,.btn-soft-warning:focus,.btn-soft-warning:hover {
  color: #000;
  background-color: #f5ca99;
  border-color: transparent
}

.btn-check:active+.btn-soft-warning,.btn-check:checked+.btn-soft-warning,.btn-soft-warning.active,.btn-soft-warning:active,.show>.btn-soft-warning.dropdown-toggle {
  color: #000;
  background-color: #f5ca99;
  border-color: transparent
}

.btn-soft-warning.disabled,.btn-soft-warning:disabled {
  color: #f5ca99;
  background-color: #f5ca99;
  border-color: transparent
}

.btn-soft-danger {
  color: #ed4c78;
  background-color: rgba(237,76,120,.1);
  border-color: transparent
}

.btn-check:focus+.btn-soft-danger,.btn-soft-danger:focus,.btn-soft-danger:hover {
  color: #fff;
  background-color: #ed4c78;
  border-color: transparent
}

.btn-check:active+.btn-soft-danger,.btn-check:checked+.btn-soft-danger,.btn-soft-danger.active,.btn-soft-danger:active,.show>.btn-soft-danger.dropdown-toggle {
  color: #fff;
  background-color: #ed4c78;
  border-color: transparent
}

.btn-soft-danger.disabled,.btn-soft-danger:disabled {
  color: #ed4c78;
  background-color: #ed4c78;
  border-color: transparent
}

.btn-soft-light {
  color: #f7faff;
  background-color: rgba(247,250,255,.1);
  border-color: transparent
}

.btn-check:focus+.btn-soft-light,.btn-soft-light:focus,.btn-soft-light:hover {
  color: #000;
  background-color: #f7faff;
  border-color: transparent
}

.btn-check:active+.btn-soft-light,.btn-check:checked+.btn-soft-light,.btn-soft-light.active,.btn-soft-light:active,.show>.btn-soft-light.dropdown-toggle {
  color: #000;
  background-color: #f7faff;
  border-color: transparent
}

.btn-soft-light.disabled,.btn-soft-light:disabled {
  color: #f7faff;
  background-color: #f7faff;
  border-color: transparent
}

.btn-soft-dark {
  color: #21325b;
  background-color: rgba(33,50,91,.1);
  border-color: transparent
}

.btn-check:focus+.btn-soft-dark,.btn-soft-dark:focus,.btn-soft-dark:hover {
  color: #fff;
  background-color: #21325b;
  border-color: transparent
}

.btn-check:active+.btn-soft-dark,.btn-check:checked+.btn-soft-dark,.btn-soft-dark.active,.btn-soft-dark:active,.show>.btn-soft-dark.dropdown-toggle {
  color: #fff;
  background-color: #21325b;
  border-color: transparent
}

.btn-soft-dark.disabled,.btn-soft-dark:disabled {
  color: #21325b;
  background-color: #21325b;
  border-color: transparent
}

.btn-soft-primary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23377dff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-soft-primary.dropdown-toggle::after,.btn-soft-primary:focus.dropdown-toggle::after,.btn-soft-primary:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-soft-secondary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2371869d' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-soft-secondary.dropdown-toggle::after,.btn-soft-secondary:focus.dropdown-toggle::after,.btn-soft-secondary:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-soft-success.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2300c9a7' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-soft-success.dropdown-toggle::after,.btn-soft-success:focus.dropdown-toggle::after,.btn-soft-success:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-soft-info.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2309a5be' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-soft-info.dropdown-toggle::after,.btn-soft-info:focus.dropdown-toggle::after,.btn-soft-info:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-soft-warning.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23f5ca99' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-soft-warning.dropdown-toggle::after,.btn-soft-warning:focus.dropdown-toggle::after,.btn-soft-warning:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-soft-danger.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23ed4c78' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-soft-danger.dropdown-toggle::after,.btn-soft-danger:focus.dropdown-toggle::after,.btn-soft-danger:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-soft-light.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23f7faff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-soft-light.dropdown-toggle::after,.btn-soft-light:focus.dropdown-toggle::after,.btn-soft-light:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-soft-dark.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2321325b' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-check:focus+.btn-soft-dark.dropdown-toggle::after,.btn-soft-dark:focus.dropdown-toggle::after,.btn-soft-dark:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-check:focus+.btn-soft-secondary,.btn-soft-secondary:focus,.btn-soft-secondary:hover {
  color: #fff
}

.btn-check:focus+.btn-soft-secondary.dropdown-toggle::after,.btn-soft-secondary:focus.dropdown-toggle::after,.btn-soft-secondary:hover.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-icon {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0
}

.btn-icon>svg {
  width: 1rem;
  height: auto
}

.btn-outline-primary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23377dff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-outline-primary:hover::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-check:active+.btn-outline-primary.dropdown-toggle::after,.btn-check:checked+.btn-outline-primary.dropdown-toggle::after,.btn-outline-primary.active.dropdown-toggle::after,.btn-outline-primary.dropdown-toggle.show.dropdown-toggle::after,.btn-outline-primary:active.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-outline-secondary.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2371869d' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-outline-secondary:hover::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-check:active+.btn-outline-secondary.dropdown-toggle::after,.btn-check:checked+.btn-outline-secondary.dropdown-toggle::after,.btn-outline-secondary.active.dropdown-toggle::after,.btn-outline-secondary.dropdown-toggle.show.dropdown-toggle::after,.btn-outline-secondary:active.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-outline-success.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2300c9a7' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-outline-success:hover::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-check:active+.btn-outline-success.dropdown-toggle::after,.btn-check:checked+.btn-outline-success.dropdown-toggle::after,.btn-outline-success.active.dropdown-toggle::after,.btn-outline-success.dropdown-toggle.show.dropdown-toggle::after,.btn-outline-success:active.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-outline-info.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2309a5be' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-outline-info:hover::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-check:active+.btn-outline-info.dropdown-toggle::after,.btn-check:checked+.btn-outline-info.dropdown-toggle::after,.btn-outline-info.active.dropdown-toggle::after,.btn-outline-info.dropdown-toggle.show.dropdown-toggle::after,.btn-outline-info:active.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-outline-warning.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23f5ca99' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-outline-warning:hover::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-check:active+.btn-outline-warning.dropdown-toggle::after,.btn-check:checked+.btn-outline-warning.dropdown-toggle::after,.btn-outline-warning.active.dropdown-toggle::after,.btn-outline-warning.dropdown-toggle.show.dropdown-toggle::after,.btn-outline-warning:active.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-outline-danger.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23ed4c78' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-outline-danger:hover::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-check:active+.btn-outline-danger.dropdown-toggle::after,.btn-check:checked+.btn-outline-danger.dropdown-toggle::after,.btn-outline-danger.active.dropdown-toggle::after,.btn-outline-danger.dropdown-toggle.show.dropdown-toggle::after,.btn-outline-danger:active.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-outline-light.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23f7faff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-outline-light:hover::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-check:active+.btn-outline-light.dropdown-toggle::after,.btn-check:checked+.btn-outline-light.dropdown-toggle::after,.btn-outline-light.active.dropdown-toggle::after,.btn-outline-light.dropdown-toggle.show.dropdown-toggle::after,.btn-outline-light:active.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-outline-dark.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2321325b' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
  transition: all .2s ease-in-out
}

.btn-outline-dark:hover::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-check:active+.btn-outline-dark.dropdown-toggle::after,.btn-check:checked+.btn-outline-dark.dropdown-toggle::after,.btn-outline-dark.active.dropdown-toggle::after,.btn-outline-dark.dropdown-toggle.show.dropdown-toggle::after,.btn-outline-dark:active.dropdown-toggle::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e")
}

.btn-outline-primary,.btn-outline-secondary {
  border-color: rgba(33,50,91,.1)
}

.btn-xs:not(.btn-icon) {
  font-size: .75rem;
  padding: .3125rem .75rem
}

.btn-icon.btn-xs {
  font-size: .75rem;
  width: 1.75rem;
  height: 1.75rem
}

.btn-icon.btn-xs>svg {
  width: .75rem;
  height: auto
}

.btn-group-sm>.btn-icon.btn,.btn-icon.btn-sm {
  font-size: .8125rem;
  width: 2.5rem;
  height: 2.5rem
}

.btn-group-sm>.btn-icon.btn>svg,.btn-icon.btn-sm>svg {
  width: .8125rem;
  height: auto
}

.btn-group-lg>.btn-icon.btn,.btn-icon.btn-lg {
  font-size: 1.25rem;
  width: 4.25rem;
  height: 4.25rem
}

.btn-group-lg>.btn-icon.btn>svg,.btn-icon.btn-lg>svg {
  width: 1.25rem;
  height: auto
}
