
html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.my-10 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.mt-10 {
  margin-top: 6rem !important;
}

.mb-10 {
  margin-bottom: 6rem !important;
}
