<section class="hero w-auto py-10 d-flex flex-column justify-content-center align-items-center">
  <div class="text-light w-100 px-4 py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../assets/images/LG-mark.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">LandGate</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Data Intelligence & Marketplace for Land and its Resources</p>
    </div>
  </div>
</section>

<section class="product my-10">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-8">
        <div class="col">
          <div class="card shadow">
            <img class="card-img-top" src="../assets/images/product-card-1.jpg" alt="">
            <div class="card-body">
              <div class="card-text text-center mb-4">
                <h3 class="fw-bold">Find the Value of Your Land & its Resources</h3>
              </div>
              <p class="card-text text-center mb-4">Understand the value of your land and its potential royalty income for Solar, Wind, Carbon, or Minerals for free.</p>
              <div class="d-flex justify-content-center align-items-center">
                 <button type="button" class="btn btn-sm btn-success-soft">Search for Your Land</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <img class="card-img-top" src="../assets/images/product-card-2.jpg" alt="">
            <div class="card-body">
              <div class="card-text text-center mb-4">
                <h3 class="fw-bold">List Your Land for... <span class="accent">a Potential Wind Farm</span></h3>
              </div>
              <p class="card-text text-center mb-4">Post your property for lease / sale on LandGate's marketplace for free. Access the largest network of corporate investors in energy, resources, and land.</p>
              <div class="d-flex justify-content-center align-items-center">
                 <button type="button" class="btn btn-sm btn-success-soft">Get Started</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="py-8 py-md-11 bg-white border-top border-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7 mb-7 text-center">

        <!-- Heading -->
        <h2 class="fw-bold">
          Business Solutions
        </h2>


      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-10 text-center aos-init aos-animate" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"></path><path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" opacity=".3"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3 class="fw-medium">
          Real Estate
        </h3>

      </div>
      <div class="col-12 col-md-4 mb-10 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA"></path><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3 class="fw-medium">
          Government
        </h3>

      </div>
      <div class="col-12 col-md-4 mb-10 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"></rect></g></svg>
        </div>

        <!-- Heading -->
        <h3 class="fw-medium">
          Capital Markets
        </h3>

      </div>

      <div class="col-12 col-md-4 mb-10 text-center aos-init aos-animate" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA"></path><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3 class="fw-medium">
          Solar
        </h3>

      </div>

      <div class="col-12 col-md-4 mb-10 text-center aos-init aos-animate" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"></rect></g></svg>
        </div>

        <!-- Heading -->
        <h3 class="fw-medium">
          Wind
        </h3>

      </div>

      <div class="col-12 col-md-4 mb-10 text-center aos-init aos-animate" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"></path><path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" opacity=".3"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3 class="fw-medium">
          Carbon
        </h3>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="py-8 py-md-11">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-5">

        <!-- Blockquote -->
        <blockquote class="blockquote text-center">

          <!-- Text -->
          <p class="mb-5 mb-md-7 fw-bold">
            " [LandGate] is an excellent company that does prestigious work. They are experts pertaining to their industry. They are quick, efficient and thorough with their reports and their customer service is above par.  I would recommend them to anyone needing [renewable energy] services! ”
          </p>

          <!-- Footer -->
          <footer class="blockquote-footer mb-8 mb-md-0">
            <span class="h6 text-uppercase"> Debra Christian </span>
          </footer>

        </blockquote>

      </div>
      <div class="col-12 col-md-1 border-end my-n8 my-md-n11 d-none d-md-block"></div>
      <div class="col-12 col-md-5 offset-md-1">

        <!-- Blockquote -->
        <blockquote class="blockquote text-center">

          <!-- Text -->
          <p class="mb-5 mb-md-7 fw-bold">
            “ My family was contacted by three different solar developers to lease our farmland and we were overwhelmed.  After speaking with Brooke and Craig at LandGate, I knew we had found a valuable resource.  They spent 30 minutes on a call with me educating me on possible options.  They were very encouraging, and the communication has been excellent. I highly recommend this group! ”
          </p>

          <!-- Footer -->
          <footer class="blockquote-footer mb-0">
            <span class="h6 text-uppercase"> Amy Gordin </span>
          </footer>

        </blockquote>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
