:host {
  section.hero {
    background-image: url("/assets/images/hero-bg.jpg");
  }

  section.product {
    .card {
      span.accent {
        color: #619293;
      }
    }
  }

  .fw-medium {
    font-weight: 400;
  }
}
